%h2 Counters

%table.table.table-striped.table-hover.table-condensed

  %tr
    %th name
    %th.text-right value

  - $queue.counters.each do |name, value|

    %tr
      %td= name
      %td.text-right= value

