-# coding: utf-8

- groups = {pool: "pool", targethost: "target host"}


%h2 Transfer rates

%table.table.table-striped.table-hover.table-condensed

  - groups.each do |group_by, group_title|
    - rates_by_status = $queue.rate_by(group_by)

    %thead
      %tr
        %th= group_title
        %th.text-right bitrate

    %tbody
      - rates_by_status.each do |group, rate|
        - next if group.nil?
        - trclass = (rate.nil? ? "" : "info")

        %tr{class: trclass}
          %td
            = group
          %td.text-right
            = Helpers.format_bytes(rate, "bps")

    %thead
      %tr
        %td{colspan: 3}
          %br
