%h2 Endpoint tokens

%table.table.table-striped.table-hover.table-condensed

  %tr
    %th token
    %th value

  - tokens.each do |token, value|
    %tr
      %td
        = Helpers.tokenize(token)
      %td
        = value
