- styles = {waiting: :success, processing: :info, crashed: :error, done: :success }

%h2 Workers

%table.table.table-striped.table-hover.table-condensed

  %tr
    %th ID
    %th status
    %th job
    %th.text-right idle

  - @worker_vars.each do |wid, vars|
    -# status = vars[:status]
    - style = styles[status] || ""

    - if vars[:updted_at].is_a? Time
      - no_news_for = (Time.now - vars[:updted_at]).round(0)
    - else
      - no_news_for = "?"

    %tr{class: style.to_s}
      %td= wid
      %td= vars[:status]
      %td= vars[:jobid]
      %td.text-right
        = no_news_for
        s

