-# coding: utf-8

- groups = {pool: "pool", targethost: "target host"}


%h2 Rates

%table.table.table-striped.table-hover.table-condensed

  - groups.each do |group_by, group_title|
    - rates_by_status = $queue.rate_by(group_by)

    %thead
      %tr
        %th= group_title
        %th.text-right=JOB_STATUS_FINISHED
        %th.text-right=JOB_STATUS_UPLOADING

    %tbody
      - rates_by_status.each do |group, rates|
        %tr.info
          %td= group
          %td.text-right
            = Helpers.format_bytes(rates[JOB_STATUS_FINISHED], "bps")
          %td.text-right
            = Helpers.format_bytes(rates[JOB_STATUS_UPLOADING], "bps")
          -# %td= rates.inspect

    %thead
      %tr
        %td{colspan: 3}
          %br

    -# JOB_STATUS_UPLOADING
