defaults: &defaults
  daemonize: true
  port: 3000
  workers: 2
  #adminpwd: "admin"
  user: rftpd
  group: rftpd
  host: <%= `hostname`.chomp.split('.').first %>

  transfer:
    #update_every_kb: 500
    #notify_after_sec: 10

  conchita:
    timer: 10
    #clean_failed: 3600
    #clean_finished: 600

  logs:
    thin:
    api:
    workers:

preprod:
  <<: *defaults

production:
  # Insert your environment-specific configuration here
  port: 3200

  # Merge parameters from the "default" section
  <<: *defaults
