defaults: &defaults
  daemonize: true
  port: 3000
  workers: 2
  user: rftpd
  group: rftpd
  #host: "myhost"
  #appname: "replay"          # appname prefix used for NewRelic reporting

  transfer:
    notify_after_sec: 5       # wait at least X seconds between HTTP notifications
    mkdir: true               # build directory tree if missing
    tempfile: true            # transfer to temporary file, rename after sucessful transfer
    overwrite: false          # overwrite any target file with the same name
    timeout: 1800             # jobs running for longer than X seconds will be killed

  conchita:
    # timer: 60
    # garbage_collector: true
    # clean_failed: 3600
    # clean_finished: 3600
    # clean_queued: 86400

  debug:
    ftp: false
    sftp: false
    conchita: false
    # newrelic: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

  logs:
    thin:    "/var/log/rftpd-environment-thin.log"
    queue:   "/var/log/rftpd-environment-core.log"
    api:     "/var/log/rftpd-environment-core.log"
    workers: "/var/log/rftpd-environment-work.log"
    jobs:    "/var/log/rftpd-environment-work.log"
    notify:  "/var/log/rftpd-environment-work.log"
    newrelic:"/var/log/rftpd-environment-newrelic.log"


development:
  <<: *defaults
  port: 3400

production:
  <<: *defaults
  port: 3200
