defaults: &defaults
  daemonize: 1
  port: 3200
  workers: 2
  #adminpwd: "admin"
  pidfile: /tmp/rftpd.pid
  user: rftpd
  group: rftpd
  host: <%= `hostname`.chomp.split('.').first %>

  transfer:
    #update_every_kb: 500
    #notify_after_sec: 10

  conchita:
    timer: 10
    #clean_failed: 3600
    #clean_finished: 600

  logs:
    thin:
    api:
    workers:

preprod:
  <<: *defaults

production:
  <<: *defaults
